
#layoutCarro button {
    margin-bottom: 5px;
    background-color: #005005;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    left: 40%;
}

#layoutCarro {
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 10px 25%;
    padding: 20px;
}

#section-compraBien {
    font-size: 1.5em;
    font-family: sans-serif;
    margin: 10px 25%;
    padding: 20px;
}