/* **************
   *** Layout ***
   ************** */

#layout {
    display: grid;
    grid-template-areas:
        "header"
        "carrousel"
        "nav"
        "products"
        "footer";
}

.carrousel {
    grid-area: carrousel;
    /* The image used */
    background-image: url("./../media/339146.jpg");

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    grid-area: footer;
}

.header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

.products {
    grid-area: products;

}



/* ******************
   *** Navigation ***
   ****************** */


#nav-container {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #005005;
    padding: 0;
    margin: 0;
}



.navigation-button {
    background-color: #005005;
    border: none;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    color: white;
    font-size: 2em;
    outline: none;
    cursor: pointer;
}

.navigation-button:hover {
    background-color: #004805;
    cursor: pointer;
}

.product-wrapper {
    background-color: white;
    padding: 2em;
    display: grid;
    width: 256px;
    margin: 4em;
    grid-template-areas:
        "image image"
        "name name"
        "price buy";
}

.product-image {
    grid-area: image;
    width: 256px;
    height: 256px;
}

.product-name {
    grid-area: name;
    font-size: 2em;
    cursor: pointer;
}

.product-price {
    grid-area: price;
    font-size: 2em;
}

.product-buy {
    grid-area: buy;
}
.products-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.detall-producte {
    background-color: white;
    margin: 2em;
    padding: 2em;
    display: grid;
    grid-template-areas:
        "image descripcio";
}

.detall-producte .product-detail {
    font-size: 1.3em;
}

.detall-producte img {
    width: 512px;
    height: 512px;
}

.info {
    padding: 1em;
    background-color: white;
    font-size: 1.5em;
}




