/* **************
   **** Main ****
   ************** */
html {
    font-size: 62.25%;
    font-family: sans-serif;
}
body {
    margin: 0;
    background-color: #eaeded;
}

/* **************
   *** Header ***
   ************** */

#header-container {
    background-color: #005005;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

#header-container>ul{
    display: flex;
    margin: 0;
    align-items: stretch;
    list-style: none;
}

#header-container .logo img{
    height: 6em;
    width: auto;
    margin: 0.3em 0.3em 0.3em 1em;

}

#header-container a.logo {
    font-size: 1em;

}

#header-container ul a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
    font-size: 2em;
}

.dropdown {
    list-style: none;
    display: none;
    padding: 0;

}

.dropdown>li {
    padding: 0;
}

#header-container li:hover {
    background-color: #004805;
    cursor: pointer;
}

#header-container .icon{
    padding: 0.7em;
}

#header-container .icon img {
    width: 1.5em;
    height: auto;
}

/* **************
   *** Footer ***
   ************** */
.footer {
    bottom: 0;
    background-color: #005005;
    width: 100%;
    display: flex;
    color: white;
    font-size: 1.5em;
    justify-content: space-evenly;
}
.footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer a {
    color: #eee;
    margin: 0.5em;
}

.footer p {
    margin: 0.5em;
    color: #eee;
}

.footer h2 {
    margin: 0.5em;
}

.button-style {
    background-color: #005005; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: background-color 0.4s;
    cursor: pointer;
    padding: 1em 1.5em;
    font-size: 1.5em;
}

.button-style:hover {
    background-color: #004805;
}