#perfil-inf {
    font-size: 1.4em;
    padding: 2em;
    display: flex;
    justify-content: center
}
.profile-container {
    background-color: white;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 256px auto;
    padding: 1em;
}

.profile-container>h1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.profile-container>img {
    max-width: 256px;
    max-height: 256px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

.profile-container>.name-profile {
    grid-column-start: 2;
    grid-column-end: 3;
}

.profile-container>.mail-profile {
    grid-column-start: 2;
    grid-column-end: 3;
}

.profile-container>.adresa-profile {
    grid-column-start: 2;
    grid-column-end: 3;
}
.profile-container>.button-profile {
    grid-column-start: 1;
    grid-column-end: 3;
}

.profile-container>.button-profile>a {
    text-align: center;
    text-decoration: none;
    background-color: #005005;
    display: block;
    color: white;
    padding: 0.5em;
    font-size: 1.3em;
}

.profile-container>.button-profile>a:hover {
    background-color: #004805;
}


input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

